.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main>.info {
    color: #fff;
    width: fit-content;
    margin: 30px 0;
    font-size: 1.3rem;
}

.main>.board {
    width: 450px;
    height: 450px;
}

.main>.board>.square {
    width: calc(100%/3);
    height: calc(100%/3);
    border: 3px solid #fff;
    background-color: transparent;
    font-size: 5rem;
    outline: none;
}

.main>.board>.square.empty {
    cursor: pointer;
}

.main>.board>.square:not(.empty) {
    color: #fff;
}

.main>.board.end>.square {
    cursor: default;
}

.main>.board.end>.square:not(.empty):not(.win) {
    color: rgba(255, 255, 255, 0.6);
}

.main>.board.end>.square.win>.icon {
  animation: blinker 0.75s linear 3;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.main>.board.end.tie>.square {
  animation: borderBlink 1s linear 2;
}

@keyframes borderBlink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.main>.newGame {
    background-color: transparent;
    height: 450px;
    width: 450px;
    position: absolute;
    padding: 0;
    display: none;
    border: none;
    cursor: pointer;
}

.main>.newGame:focus {
    outline: none;
}

.main>.newGame.end {
    display: block;
}

.main>.board>.square.square-0,
.main>.board>.square.square-1,
.main>.board>.square.square-2 {
    border-top: none;
}

.main>.board>.square.square-0,
.main>.board>.square.square-3,
.main>.board>.square.square-6 {
    border-left: none;
}

.main>.board>.square.square-6,
.main>.board>.square.square-7,
.main>.board>.square.square-8 {
    border-bottom: none;
}

.main>.board>.square.square-2,
.main>.board>.square.square-5,
.main>.board>.square.square-8 {
    border-right: none;
}

@media (max-width: 1400px) {
  .main>.board {
    width: 350px;
    height: 350px;
  }
  .main>.newGame {
    width: 350px;
    height: 350px;
  }
  .main>.info {
    margin: 20px 0;
    font-size: 1.2rem;
  }
  .main>.board>.square {
    border: 2px solid #fff;
    font-size: 4rem;
  }
}

@media only screen and (max-width: 500px) {
  .main>.board {
    width: 90%;
  }
  .main>.newGame {
    width: 90%;
  }
  .main>.info {
    margin: 20px 0;
    font-size: 1rem;
  }
  .main>.board>.square {
    border: 1.5px solid #fff;
    font-size: 3rem;
  }
}